alias vim="nvim"
alias zshrc="nvim ~/.zshrc"
alias bt="bartib"
alias btt="bartib report --today"
alias bty="bartib report --yesterday"
alias btw="bartib report --current_week"
alias btl="bartib last -n 20"
alias btc="bartib continue"
alias bts="bartib start"
alias ls="eza -l --icons=always --hyperlink"
alias lsa="eza -la --icons=always --hyperlink"
alias ll="eza -alh --icons=always --hyperlink"
alias lt="eza -l -T --level=3 --icons=always"
alias tree="eza --tree"
alias cat="bat"
alias cdp="cd /Volumes/_Private/marius.mueller@sovanta.com"
alias ..="cd .."
alias ....="cd ...."
alias ytdlp720="yt-dlp -S vcodec:h264,fps,res:720,acodec:m4a -P ~/Downloads"
alias ytdlp1080="yt-dlp -S vcodec:h264,fps,res:1080,acodec:m4a -P ~/Downloads"

